.welcome-home {
    margin-top: 150px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 150px;
}

.showStuff {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-bottom: 50px;
}

.holder {
    border: 3px solid black;
    border-radius: 20px;
    background-color: var(--primary);
    transition: ease 0.3s;
    box-shadow: 0px 0px 9px black;
}

.holder:hover {
    scale: 1.1;
    box-shadow: 0px 10px 9px rgba(0, 0, 0, 0.49);
    translate: 0 -20px;
}

.home-shopbtn {
    border: none;
    padding: 12px 35px 12px 35px;
    font-size: 2em;
    font-weight: bold;
    background-color: var(--secondary);
    border-radius: 10px;
    color: white;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.568);
    transition: ease 0.3s;
    cursor: pointer;
}

.home-shopbtn:hover {
    scale: 1.1;
}

.home-shopbtn:active {
    transition: ease 0.1s;
    scale: 0.9;
}