.daddy-products {
    display: grid;
    grid-template-columns: repeat(4, minmax(300px, 1fr));
    width: 90%;
    gap: 40px;
    margin: 100px 0px 50px 0px;
    border: 1px solid red;
}



.daddy-productcomp {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--primary);
    border-radius: 10px;
    box-shadow: 0px 0px 7px black;
}

.add-cartbtn {
    border: none;
    border-radius: 10px;
    background-color: var(--secondary);
    color: white;
    font-weight: bold;
    font-size: 1.4em;
    margin-bottom: 20px;
    padding: 10px 0px;
    width: 80%;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.447);
    transition: ease 0.3s;
    cursor: pointer;
}

.add-cartbtn:hover {
    box-shadow: 0px 7px 5px rgba(0, 0, 0, 0.49);
    translate: 0 -7px;
}

.add-cartbtn:active {
    transition: ease 0.1s;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.49);
    translate: 0 0px;
}

.daddy-des {
    width: 80%;
    margin-top: 55px;
    display: flex;
    gap: 120px;
}